/* Estilos gerais do Footer */
.footer {
  background-color: #0E246D; /* Azul escuro */
  color: white;
  padding: 2rem 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Seção de Informações */
.info {
  display: flex;
  flex-wrap: wrap; /* Torna o layout responsivo */
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.icon {
  font-size: 1.5rem; /* Tamanho maior para ícones */
}

/* Redes sociais */
.socialIcons {
  display: flex;
  gap: 1rem;
}

.socialIcons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.socialIcons img:hover {
  transform: scale(1.2);
}

/* Seção de Direitos Autorais */
.copyright {
  background-color: #04126491; /* Fundo preto */
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  text-align: center;
}
