/* Estilo Geral do Rodapé */
.footerContainer {
  background-color: #081233;
  color: white; /* Cor branca para texto */
  padding: 5rem 1rem; /* Espaçamento interno */
  font-size: 1rem; /* Tamanho padrão do texto */
  display: flex; /* Flexbox */
  flex-direction: column; /* Itens empilhados verticalmente */
  align-items: center; /* Centraliza no eixo horizontal */
  justify-content: center; /* Centraliza no eixo vertical */
  gap: 2rem; /* Espaçamento entre seções */
}

/* Seção de Informações */
.footerInfo {
  display: flex; /* Flexbox */
  flex-wrap: wrap; /* Torna responsivo */
  justify-content: center; /* Centraliza os itens */
  gap: 4rem; /* Espaçamento entre itens */
  text-align: center; /* Texto centralizado */
}

/* Centralização do item no eixo vertical */
.footerInfoItem {
  display: flex; /* Alinha ícone e texto horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 1rem; /* Espaçamento entre ícone e texto */
  font-size: 1rem; /* Tamanho do texto */
  color: white; /* Garante texto branco */
  text-decoration: none; /* Remove sublinhado */
  height: 100%; /* Garantir que o item tenha altura para centralizar o conteúdo */

}

/* Tamanho máximo para as imagens dentro do item */
.footerInfoItem img {
  max-width: 2em;
}

.footerInfoItem p {
  margin: 0;
}

/* Redes Sociais */
.footerSocial {
  display: flex; /* Flexbox para alinhamento horizontal */
  gap: 1rem; /* Espaçamento entre ícones */
}

.footerSocial img {
  width: 24px; /* Tamanho do ícone */
  height: 24px;
  transition: transform 0.3s; /* Animação suave no hover */
}

.footerSocial img:hover {
  transform: scale(1.2); /* Aumenta o tamanho do ícone */
}

/* Direitos Autorais */
.footerCopyright {
  width: 100%; /* Ocupa toda a largura */
  background-color: #0A0F20; /* Fundo azul escuro */
  color: white; /* Texto branco */
  padding: 1rem 1rem; /* Ajuste no padding vertical para diminuir o espaço */
  text-align: center; /* Centraliza o texto horizontalmente */
  border-radius: 0; /* Remove bordas arredondadas */
  position: relative; /* Mantém dentro do fluxo normal */
  bottom: 0; /* Posicionado na base do rodapé */
  display: flex; /* Ativa o Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  line-height: 1.5; /* Ajuste o line-height se necessário */
}

/* Ajuste de cores para links e textos no rodapé */
.footerContainer p,
.footerContainer a {
  color: white;
}

.footerCopyright p {
  color: white;
  font-size: 12px;
  margin: 0; /* Remover margens extras, se houver */
}
